.page-header {
  display: flex;
  padding-top: 0px;
  padding-left: 0px;
}
@media screen and (min-width: 1024px) {
  .page-header {
    padding-top: 30px;
    padding-left: 160px;
  }
}
.page-header__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__navigation {
    display: block;
    margin-left: 220px;
    display: flex;
  }
}
.page-header__upload-btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__upload-btn {
    background: #1968FC;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    width: 180px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 0;
    margin-left: 20px;
  }
}

.navigation__item {
  width: 120px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-decoration: none;
}

.navigation__item:last-child {
  width: 180px;
}

.logo {
  display: flex;
  margin-top: 40px;
  margin-left: 80px;
}
@media screen and (min-width: 1024px) {
  .logo {
    margin: 0px;
  }
}
.logo__text {
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1968FC;
}

.headline {
  display: block;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
}
@media screen and (min-width: 1024px) {
  .headline {
    margin-top: 150px;
    margin-left: 160px;
    margin-right: 160px;
  }
}
.headline__title {
  margin: 0px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  color: #11223F;
}
.headline__description {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #11223F;
}
.headline__uppload-btn {
  margin-top: 40px;
  width: 300px;
  height: 50px;
  background-color: #1968FC;
  border: none;
  padding: 0;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.headline__illustration {
  margin-top: 80px;
  margin-left: -60px;
}
@media screen and (min-width: 1024px) {
  .headline__illustration {
    position: absolute;
    margin: 0;
    left: 681px;
    top: 280px;
  }
}
.headline__invite {
  position: absolute;
  width: 640px;
  height: 180px;
  left: 0px;
  top: 1000px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .headline__invite {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .headline__container {
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .desktop {
    display: none;
  }
}

.reviews {
  display: block;
  margin-top: 168px;
  margin-left: 50px;
  margin-right: 50px;
}
@media screen and (min-width: 1024px) {
  .reviews {
    margin-top: 160px;
    margin-left: 160px;
    display: flex;
  }
}

.review:last-child {
  margin-top: 50px;
  margin-left: 0px;
}
@media screen and (min-width: 1024px) {
  .review:last-child {
    margin-top: 0px;
    margin-left: 40px;
  }
}

.review {
  background-color: #FFFFFF;
}
.review__profile {
  display: flex;
  padding: 40px;
}
.review__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.review__profile-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #11223F;
}
.review__profile-position {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #1967FA;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.review__profile-quote {
  width: 60px;
  height: 46px;
  margin-left: auto;
}
.review__description {
  margin: 0;
  padding: 40px;
  padding-top: 0;
  font-size: 16px;
  line-height: 30px;
  color: #11223F;
}
@media screen and (min-width: 1024px) {
  .review {
    width: 540px;
  }
}

.workflow {
  margin: 120px 60px 0px 60px;
}
@media screen and (min-width: 1024px) {
  .workflow {
    margin: 120px 160px 0px 120px;
  }
}
.workflow__main-title {
  margin: 0;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  color: #11223F;
}
@media screen and (min-width: 1024px) {
  .workflow__main-title {
    margin-left: 40px;
  }
}
.workflow__line {
  margin-top: 10px;
  width: 80px;
  height: 2px;
  left: 60px;
  top: 2030px;
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
}
.workflow__container {
  display: block;
  margin-top: 48px;
}
@media screen and (min-width: 1024px) {
  .workflow__container {
    display: flex;
    margin-top: 38px;
    margin-left: 40px;
  }
}
.workflow__connector-line-first {
  position: absolute;
  width: 1px;
  height: 40px;
  left: 119.5px;
  top: 2262px;
  border: 1px dashed #1968FC;
}
@media screen and (min-width: 1024px) {
  .workflow__connector-line-first {
    width: 70px;
    height: 1px;
    left: 485px;
    top: 1320px;
  }
}
.workflow__connector-line-second {
  position: absolute;
  width: 1px;
  height: 40px;
  left: 119.5px;
  top: 2482px;
  border: 1px dashed #1968FC;
}
@media screen and (min-width: 1024px) {
  .workflow__connector-line-second {
    width: 70px;
    height: 1px;
    left: 885px;
    top: 1359px;
  }
}
.workflow__step-container {
  padding: 40px 40px 0px 40px;
  display: flex;
}
.workflow__title-container {
  width: 200px;
}
.workflow__subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #11223F;
}
.workflow__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1967FA;
}
.workflow__step {
  background-color: #FFFFFF;
  position: relative;
  margin-bottom: 40px;
  margin-right: 0px;
}
@media screen and (min-width: 1024px) {
  .workflow__step {
    width: 320px;
    height: 220px;
    margin-bottom: 0;
    margin-right: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .workflow__step:nth-child(3) {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .workflow__step:nth-child(5) {
    margin-top: 80px;
    margin-right: 0;
  }
}
.workflow__icon {
  width: 40px;
  height: 36px;
}
@media screen and (min-width: 1024px) {
  .workflow__icon {
    margin-top: 2px;
  }
}
.workflow__description {
  padding: 0 40px 40px 40px;
  margin: 0;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  .workflow__description {
    margin-top: 20px;
  }
}
.workflow__small-icon {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.features {
  margin: 125px 60px 0px 60px;
}
@media screen and (min-width: 1024px) {
  .features {
    margin: 120px 160px 0px 120px;
    width: 1165px;
  }
}
.features__main-title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #11223F;
}
@media screen and (min-width: 1024px) {
  .features__main-title {
    margin-left: 40px;
  }
}
.features__line {
  margin-top: 10px;
  width: 80px;
  height: 2px;
  left: 60px;
  top: 2030px;
  background: #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
}
.features__container {
  margin-top: 48px;
}
@media screen and (min-width: 1024px) {
  .features__container {
    display: flex;
    margin-left: 40px;
  }
}
.features__step {
  position: relative;
  margin-bottom: 60px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  .features__step {
    margin-bottom: 0;
    width: 320px;
    height: 290px;
  }
}
@media screen and (min-width: 1024px) {
  .features__step:nth-child(2) {
    margin-top: 40px;
    margin-left: 74px;
  }
}
@media screen and (min-width: 1024px) {
  .features__step:nth-child(3) {
    margin-top: 80px;
    margin-left: 86px;
    margin-right: 0;
  }
}
.features__step-container {
  display: flex;
  background-color: #F3F7FF;
}
.features__icon {
  width: 80px;
}
@media screen and (min-width: 1024px) {
  .features__icon {
    width: 120px;
  }
}
.features__title {
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #11223F;
}
.features__description {
  margin: 0;
  padding: 30px 40px;
}
.features__small-icon {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
  }
}

.page {
  position: relative;
  font-family: Mulish;
}
@media screen and (min-width: 1024px) {
  .page {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
  }
}

.background-mobile {
  position: absolute;
  width: 100%;
  height: 3390px;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  .background-mobile {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
